[Unit]
Description=CouchPotato Service
Wants=network-online.target
After=network-online.target

[Service]
User=lee
Group=lee
Type=forking
ExecStart=/usr/bin/python /git/CouchPotatoServer/CouchPotato.py --daemon --data_dir /var/couchpotato --config_file /etc/couchpotato/couchpotato.ini
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
