[Unit]
Description=Deluge Bittorrent Client Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=lee
Group=lee
Type=simple
ExecStart=/usr/bin/deluged -d -l /var/log/deluge/daemon.log -L warning
Restart=on-failure
RestartSec=3
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target