[Unit]
Description=Jackett Service
Wants=network-online.target
After=network-online.target

[Service]
User=lee
Group=lee
Type=simple
ExecStart=/usr/bin/mono --debug JackettConsole.exe --NoRestart
WorkingDirectory=/opt/Jackett/
Restart=always
RestartSec=15
TimeoutStopSec=20
SyslogIdentifier=jackett

[Install]
WantedBy=multi-user.target