[Unit]
Description=Nest Stats Usage Service
Wants=network-online.target
After=network-online.target

[Service]
User=lee
Group=lee
Type=forking
WorkingDirectory=/home/lee/git/UbuntuScripts/Metrics/powerusage
ExecStart=/usr/bin/python /home/lee/git/UbuntuScripts/Metrics/powerusage/getneststats.py -is metrics -idb metrics -iusr lee -ipass Hhey9huk
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
