[Unit]
Description=NZBHydra2 Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=nzbhydra
Group=nzbhydra
Type=simple
ExecStart=/opt/NzbHydra2/nzbhydra2 --nobrowser
WorkingDirectory=/opt/NzbHydra2/
Restart=always
RestartSec=15
TimeoutStopSec=20
SyslogIdentifier=nzbhydra2

[Install]
WantedBy=multi-user.target