[Unit]
Description=Radarr Daemon
Wants=network-online.target
After=network-online.target

[Service]
User=lee
Group=lee
Type=simple
ExecStart=/usr/bin/mono --debug Radarr.exe /nobrowser /data=/var/radarr
WorkingDirectory=/opt/Radarr/
Restart=always
RestartSec=15
TimeoutStopSec=20
SyslogIdentifier=radarr

[Install]
WantedBy=multi-user.target