[Unit]
Description=SABnzbd Service
Wants=network-online.target
After=network-online.target

[Service]
User=lee
Group=lee
Type=forking
ExecStart=/usr/bin/python /git/sabnzbd/SABnzbd.py --config-file /etc/sabnzbd/sabnzbd.ini --logging 1 --daemon --pid /var/run/sabnzbd/
PIDFile=/var/run/sabnzbd/sabnzbd-8080.pid
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target