[Unit]
Description=Sonarr Service
Wants=network-online.target
After=network-online.target

[Service]
User=sonarr
Group=sonarr
Type=simple
ExecStart=/usr/bin/mono NzbDrone.exe /data=/var/sonarr
WorkingDirectory=/opt/NzbDrone/
Restart=always
RestartSec=15
TimeoutStopSec=20
SyslogIdentifier=sonarr

[Install]
WantedBy=multi-user.target